.main_title {
    text-align: center
}
.main_subtitle {
    text-align: center
}

.container {
    text-align:center;
  } 
  
  .one {
      margin: auto;
      padding: 10px;
  }
  
  .two {
      border: 2px solid black;
      padding: 10px;
      border-radius: 5px;
      width: 50%;
      background:lightslategray;
      margin: auto;
  }

  .post {
      border:1px solid black;
      border-radius: 3px;
      padding: 2px;
  }

  .container2 {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
  }
  
  .comment_box {
    width: 49%;
    height: 200px;
    float: left;
  }
  
  .question_box {
    width: 49%;
    height: 200px;
    float: right;
  }