/* First two lines of text on the page */
.main_title {
    text-align: center;
}
.main_subtitle {
    text-align: center;
}

/* General style for the page */
.all{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 400;
}

.container {
    text-align:center;
    background:url('grid2.png');
    background-size: contain;
  } 
  
  .one {
      margin: auto;
      padding: 10px;
  }
  
  .two {
      border: 2px solid black;
      padding: 10px;
      border-radius: 5px;
      width: 50%;
      margin: auto;
  }

  .post {
      border:1px solid black;
      border-radius: 3px;
      padding: 2px;
  }

  .container2 {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
  }
  
  .comment_box {
    width: 49%;
    height: 200px;
    float: left;
  }
  
  .question_box {
    width: 49%;
    height: 200px;
    float: right;
  }